* {
    box-sizing: border-box;
    text-align: center;
}
main {
    background-color: lightgrey;
    padding-bottom: 50px;
    font-size: larger;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.menu > * {
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: larger;
}
.menu select {
    width: 200px;
}
h2 {
    text-align: center;
    font-size: xx-large;
    padding: 40px;
}
h3 {
    margin-top: 0;
}
#program_created_for {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
#program_created_for li {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
#program_created_for li:nth-child(even) {
    flex-direction: column-reverse;
}
#how_education_passes {
    display: flex;
    justify-content: space-around;
}
#academy_partners {
    display: flex;
    justify-content: space-evenly;
}
#academy_partners > div {
    width: 45%;
}
#academy_partners > div > * {
    text-align: left;
}
.highlighted_word {
    font-weight: bold;
    color: rgb(100, 190, 220);
}